@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
   all: revert !important;
}

.cl-rootBox,
.cl-modalRoot,
.cl-drawerRoot,
.cl-modalBackdrop,
.cl-modalContent,
.cl-card {
    z-index: 99999 !important;
}